/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'Helvetica Neue Regular';
    src: url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.container{
width: 1215px;
height: 1064px;
margin: 0 auto;
}

footer{
  background-image: url(../img/Background.png);
  background-repeat: repeat-x;
  height: 36px;
  color: #60b5ed;
  font-family: "Helvetica Neue Regular";
  line-height: 36px;
  text-align: center;
  position: relative;
}
footer ul {
box-sizing: content-box;
position: absolute;
right: 20px;
}
footer ul li {
  display: block;
  float: left;
  height: 36px;
  box-sizing: content-box;
  padding-left: 15px;
  padding-right: 15px;
}

footer ul li a{
  text-decoration: none;
  color: #60b5ed;
  font-family: "Helvetica Neue Regular";
}

footer>ul>li>a>img{
padding: 5px;
float: left;


}

footer>ul>li:nth-child(6)>a {
  color: white;
}



footer>ul>li:nth-child(7)>a {
  color: white;
  text-decoration: underline;
}

footer>ul>li:nth-child(7) {
  color: white;
}
